<h1>Merchants</h1>

<div class="leaderboard">
  <div class="leaderboard_container">
    <h2>Leaderboard</h2>
    <div class="stat_1">
      <p><b>Top 10 Merchants who sold the most items in the past month:</b></p>
      <ol>
        <% @top_selling_merchants.each do |merchant|%>
          <li><%=merchant.name%></li>
        <%end%>
      </ol>
    </div>
    <div class="stat_2">
      <p><b>Top 10 Merchants who fulfilled non-cancelled orders in the past month:</b></p>
      <ol>
        <% @most_orders_fulfilled.each do |merchant| %>
        <li><%=merchant.name%></li>
        <% end %>
      </ol>
    </div>
    <% if current_admin? %>
    <div class="stat_3">
      <p><b>Top 5 fastest merchants fulfilling orders to <%=current_user.city%></b></p>
      <ol>

      </ol>
    </div>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if current_admin? %>
      <th>Active</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr id="merchant-<%= merchant.id %>">
        <td>
        <% if current_admin? %>
        <%= link_to merchant.name, merchant_path(merchant) %>
        <% else %>
        <%= merchant.name %>
        <% end %>
        </td>
        <% if current_admin? %>
        <td><%= merchant.active %></td>
        <td>
          <% if merchant.active %>
          <%= button_to "Disable", user_path(merchant), method: :patch, params: { toggle: :disable } %>
          <% else %>
          <%= button_to "Enable", user_path(merchant), method: :patch, params: { toggle: :enable } %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
